p {
  color: #ffa500;
  font-weight: bold;
  font-size: 30px;
  line-height: 1.8;
}

header {
  z-index: 10;
  height: 64px;
  background-color: #333;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  margin-bottom: 20px;
}

a {
  color: #fff;
  text-transform: uppercase;
}

body {
  /*height:100vh;*/
  background-color: #e0ffff;
  /*background-size:cover;*/
  /*background-position:center;*/
}
ul {
  overflow: hidden;
  list-style: none;
  margin: 0 auto;
}
ul li {
  display: inline-block;
  padding: 26px 10px 20px 10px;
}

.head {
  background-color: blue;
}

.button {
  padding: 15px 30px;
  color: blue;
  background-color: yellow;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  /*カーソル合わせた時の動き*/
  background-color: #0056b3;
  transform: scale(1.05);
}
.button:active {
  /*クリックしたときの動き*/
  background-color: #004085;
  transform: scale(0.98);
}

#reboot img {
  height: 30px;
}

#shutdown img {
  height: 30px;
}

.infomation {
  background-color: darkgray;
  padding: 20px;
  position: fixed;
  bottom: 20px; /*下にスペースを作る*/
  width: 80%;
  height: 20%;
  margin: 0 auto;
  overflow: auto; /*スクロールバー*/
}

.infomation h2 {
  background-color: white;
}
